*{
    box-sizing: border-box;
    margin: 0;
}
header{
    background-color: #e4f9f5;
    color:#66bfbf;
    height: 600px;      
}
.intro{
    font-family: Sacramento,cursive;
    text-align: center;
   padding-top: 150px;
   font-size: 6rem;
   
}

.text{
    text-decoration: underline;
}
.mountain{
   position:relative;
   display: inline-block;
   width: 700px;
   bottom:315px;
   left: 980px;
}
.myProfile{
    text-align: center; /* This centers the child elements horizontally */
    height: 400px;
   
}

.myImage{
    height: 200px;
    width: 200px;
    border-radius: 50%;   
    display: inline-block; 
    /* This makes the element inline-block so that text-align works */
    margin-top:8rem;
    margin-bottom: 3rem;
}
h1{
    color: #66bfbf;
    font-size: 2rem;
    text-align: center;

}
.myProfile > p{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    padding: 1rem 35rem;
    
}
