*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    display: flex;
   background-color: rgb(10, 3, 58);
   color: white;
 
  }
  #left-panel{
    width:20%;
    height: 100vh;
    background-color: rgb(8, 5, 41);
    padding: 5% 5% 5% 2%;
    
  }  
  .left-panel{
    margin: 25% 2%;
    border-bottom: 1px solid gray;
    padding-bottom: 15%;
  }
  .left-panel:hover{
    color: gray;
    cursor: pointer;
  }
  #content {
    margin: 0% auto;
    padding: 10% 10%;

    }
    #content h1{
        margin-bottom: 5%;
    }
  #content p{
    line-height: 2;
  }
  